@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap')

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 900

.rubik-<uniquifier> {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


*{
   padding: 0;
   margin; 0;
   font-family: "Rubik", sans-serif;

}

 header{
    max-width: 1250px;
    margin:auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;



}
